.sc-jqUVSM.gljQqF.rec.rec-pagination{
    display: none;
}
.sc-iBkjds.jsbpHP.rec.rec-carousel{
    border: 1px solid red;
} 

.sc-hKMtZM.hoTAxi.rec.rec-arrow.rec.rec-arrow-left,
.sc-hKMtZM.hoTAxi.rec.rec-arrow.rec.rec-arrow-right{
    color: #fff;
    background-color: green;
}
.sc-hKMtZM.hoTAxi.rec.rec-arrow.rec.rec-arrow-left:hover,
.sc-hKMtZM.hoTAxi.rec.rec-arrow.rec.rec-arrow-right:hover{
    color: #fff;
    transition: all 1s;
    background-color: chartreuse;
}
